


/*****************
FORMULARIOS REGISTO-ACCESO
*****************/


.formAcceso{
    width: 50%;
    margin: auto;
    margin-top: 150px;
    background: #e90303;
    padding: 30px;
    border-radius: 5px;
    font-family: 'Open Sans', Arial, sans-serif;
    box-shadow: 5px 10px 25px black;
    h1{
        text-align: center;
        color: white;
        margin-bottom: 20px;
    }
    p{
        height: 40px;
        text-align: center;
        font-size: 20px;
        font-style: italic;
        line-height: 40px;
        a{
            color: white;
        }
    }
    a:hover{
        text-decoration: underline;
    }
    .botons{
        width: 100%;
        border: none;
        margin: 2px;
        padding: 10px;
        font-size: 16px;
        margin: 16px 0;
        font-family: 'Open Sans', Arial, sans-serif;
        cursor: pointer;
    }
    .controls{
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 15px;
        border: 1px solid #e90303;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 16px;
    }
    .mainAcc div{
        margin: auto;
        margin-top: 200px;
        width: 50%;
    }
}


/*****************
FORMULARIO CONTACTO
*****************/

.formContact{
    width: 50%;
    margin: auto;
    margin-top: 150px;
    background: #e90303;
    padding: 30px;
    border-radius: 5px;
    font-family: 'Open Sans', Arial, sans-serif;
    box-shadow: 5px 10px 25px black;
    h1{
        text-align: center;
        color: white;
        margin-bottom: 30px;
    }
    .botons{
        width: 100%;
        border: none;
        margin: 2px;
        padding: 10px;
        font-size: 16px;
        margin: 16px 0;
        font-family: 'Open Sans', Arial, sans-serif;
        cursor: pointer;
    }
    .controls{
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 15px;
        border: 1px solid #e90303;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 16px;
    }
}

.mainAyuda{
    display: grid;
    grid-template-columns: auto auto;
    .ayudaPreg{
        width: 50%;
        margin: auto;
        margin-top: 100px;
        background: #e90303;
        padding: 30px;
        border-radius: 5px;
        font-family: 'Open Sans', Arial, sans-serif;
        box-shadow: 5px 10px 25px black;
        h1{
            text-align: center;
            color: white;
            margin-bottom: 30px;
        }
        ul{
            list-style: none;
            li{
                font-size: 18px;
                padding: 10px;
                text-align: center;
                a{
                    text-decoration: none;
                    color: white;
                    padding: 8px;
                }
            }
        }
    }
}

/*****************
Quienes somos
*****************/

.quienesSomos{
    width: 50%;
    margin: auto;
    margin-top: 100px;
    background: #e90303;
    padding: 30px;
    border-radius: 5px;
    font-family: 'Open Sans', Arial, sans-serif;
    box-shadow: 5px 10px 25px black;
    text-align: center;
    h1{
        color: white;
        margin-bottom: 30px;
    }
    p{
        margin-top: 3%;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 20px;
        font-weight: bold;
        line-height: 1.6;
    }
}